{:deps {sindresorhus/type-fest {:git/url "https://github.com/sindresorhus/type-fest.git"
                                :git/tag "v3.8.0"
                                :git/sha "9feb8c89be9a0f2f688bf2f497230298a8e2472e"}}
