{:deps {renovatebot/renovate {:git/url "https://github.com/sindresorhus/got.git"
                              :git/tag "12.5.3"
                              :git/sha "2a4b4e7b272dba6abb36cb9ed63fbc24d3ebacf6"}}}
