{:deps {renovatebot/renovate {:git/url "https://github.com/renovatebot/renovate.git"
                              :git/tag "34.92.1"
                              :git/sha "7891d8979f32ebd5c35018acc0094a9074f0b87f"}}}
